.reveal {
  position: relative;
  width: 1024px;
  height: 1024px;
  overflow: hidden;
}

/* BACKGROUND IMAGE (static) */
.background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.video-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.video-layer video {
  width: 1024px;
  height: 1024px;
  object-fit: cover;

  clip-path: inset(0 0 0 50%);
}

/* Divider line */
.divider {
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  height: 100%;
  background: white;
  transform: translateX(-50%);
  z-index: 3;
}

/* Handle */
.slider-handle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.slider-handle img {
  width: 40px;
}

/* Mouse capture layer */
.activator {
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 1024px;
  z-index: 10;
  opacity: 0;
  cursor: ew-resize;
}
