/* .reveal {
    width: 1024px;
    height: 1024px;
    border: #000 1px solid;
    position: relative;
    margin: 14px;
    overflow: hidden;
} */

.reveal > img {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 1024px;
    height: 1024px;
    display: block;
}

.reveal > .img2 {
    /* inset(top right bottom left) */
    clip-path: inset(0 0 0 50%); 
}

.reveal > .activator {
    position: absolute;
    top: 0;
    left: 0;
    width: 1024px;
    height: 1024px;
    z-index: 10;
    opacity: 0;
    cursor: w-resize; 
}
.reveal {
  position: relative;
  width: 1024px;
  overflow: hidden;
}

/* Base image */
.base-img {
  width: 100%;
  display: block;
}

.video-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; 
  height: 100%;
  overflow: hidden;
}

.video-layer video {
  width: 1024px;
  height: 100%;
  object-fit: cover;
  border-left: 6px solid white;
  box-sizing: border-box;
}

.divider {
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  height: 100%;
  background: white;
  transform: translateX(-50%);
  z-index: 3;
}

.slider-handle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  cursor: ew-resize;
}

.slider-handle img {
  width: 40px;
}