.reveal {
    width: 1024px;
    height: 1024px;
    border: #000 1px solid;
    position: relative;
    margin: 14px;
    overflow: hidden;
}

.reveal > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 1024px;
    height: 1024px;
    display: block;
}

.reveal > .img2 {
    /* inset(top right bottom left) */
    clip-path: inset(0 0 0 50%); 
}

.reveal > .activator {
    position: absolute;
    top: 0;
    left: 0;
    width: 1024px;
    height: 1024px;
    z-index: 10;
    opacity: 0;
    cursor: w-resize; 
}