body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.game {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.image-box {
  position: relative;
}

.image-box > img {
  width: 100%;
  border-radius: 16px;
  display: block;
}
.marker {
  width: 28px;    
  height: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/* invisible clickable areas */
.spot {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;

}

/* .spot.found {
  background-image: url('assets/RK_Check.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
} */

/* popup background */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* allows click-through */
  z-index: 999;
}

.confetti-gif {
  width: 100%;
  max-width: 600px;
  opacity: 0;
  animation: confettiFade 0.6s ease forwards;
}

@keyframes confettiFade {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

/* popup box */
.popup-content {
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  animation: scaleIn 0.35s ease;
}

.popup-content img {
  width: 200px;
  margin-bottom: 10px;
}

.popup-content button {
  margin-top: 10px;
  padding: 10px 18px;
  border: none;
  background: #b12025;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

/* animation */
@keyframes scaleIn {
  from { transform: scale(0.6); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
