body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.game {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 20px;
}

.image-box {
  position: relative;
}

.image-box > img {
  width: 1024px;
  border-radius: 40px;
  display: block;
}
.marker {
  width: 100px;    
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/* invisible clickable areas */
.spot {
  position: absolute;
  width: 120px;
  height: 120px;
  cursor: pointer;
}

/* .spot.found {
  background-image: url('assets/RK_Check.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
} */

/* popup background */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 999;
  pointer-events: none;
}

.win-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  transform: translate(-50%, -50%) scale(0.6);
  opacity: 0;
  animation: winPop 0.5s ease forwards;
}

.confetti {
  position: absolute;
  width: 800px;
  opacity: 0;
  animation: burst 0.8s ease forwards;
}

.c1 { top: 10%; left: 15%; animation-delay: 0.2s; }
.c2 { top: 20%; right: 15%; animation-delay: 0.4s; }
.c3 { bottom: 15%; left: 40%; animation-delay: 0.6s; }

/* animations */
@keyframes winPop {
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes burst {
  from {
    transform: scale(0.3);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
