* {
  font-family: "Poppins", sans-serif;
}

#settings {
  display: block;
  text-align: center;
  padding: 10px;
}
#settings button{
  border: 1px solid #B12024;
  border-radius: 5px;
  background: #fff;
}
#settings button:hover{
  background: #B12024;
  color: #fff;
}
#paint {
  border: 1px solid black;
  border-radius: 4px;
  background: #dedede;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
