body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.game {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.image-box {
  position: relative;
}

.image-box img {
  width: 300px;
  border-radius: 16px;
}

/* invisible clickable areas */
.spot {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.spot.found {
  background-image: url('assets/RK_Check.png'); /* your icon */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}